DJANGO_SETTINGS_MODULE=config.settings.dev
SECRET_KEY=cambia-esta-clave
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=cine
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
CORS_ALLOWED_ORIGINS=http://localhost:5173
HOLD_MINUTOS=10
ACCESS_TOKEN_MINUTOS=60
REFRESH_TOKEN_DIAS=7
TMDB_API_KEY=
